<!-- main -->
<div class="col">
    <!-- / main header -->
    <div class="wrapper-md" ng-controller="DashboardDemoCtrl">
        <p>详细案例请参考:
            <a href="http://echarts.baidu.com/examples.html" target="_blank">http://echarts.baidu.com/examples.html</a></p>

        <div class="row">
            <div id="main" style="width: 700px;height:400px;"></div>
        </div>

        <div class="line-dashed"></div>
        <hr/>

        <div class="row">
            <div id="main2" style="width: 700px;height:400px;"></div>
        </div>

    </div>
</div>
<!-- / main -->