<div class="wizard" id="add-wizard" data-title="新增">

    <div class="wizard-card" data-cardname="card1">
        <h3>Card 1</h3>
        Some content
    </div>

    <div class="wizard-card" data-cardname="card2">
        <h3>Card 2</h3>
        Some other content
    </div>

</div>

<!--<div class="addWizard">-->
    <!--<meta charset="utf-8">-->
    <!--<div class="modal-header">-->
        <!--<button id="modelCancel" type="button" class="close" ng-click="cancel()">-->
            <!--<span aria-hidden="true">&times;</span>-->
        <!--</button>-->
        <!--<h4 class="modal-title">新增</h4>-->
    <!--</div>-->
    <!--<div class="modal-body">-->

        <!--<div class="progress">-->
            <!--<div class="progress-bar progress-bar-success" role="progressbar"-->
                 <!--aria-valuenow="1" aria-valuemin="1" aria-valuemax="2" style="width: 20%;"></div>-->
        <!--</div>-->

        <!--<div class="navbar">-->
            <!--<div class="navbar-inner">-->
                <!--<ul class="nav nav-tabs">-->
                    <!--<li class="active"><a href="#step1" data-toggle="tab">Step 1</a></li>-->
                    <!--<li><a href="#step2" data-toggle="tab">Step 2</a></li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->

        <!--<form class="tab-content" method="post" id="myForm">-->
            <!--<div class="tab-pane active" id="step1">-->
                <!--<p>Here is the content for the first step...</p>-->
                <!--<input class="form-control" id="input1" name="input1" required="">-->
                <!--<button class="btn btn-default btn-sm" type="button">OK</button>-->
            <!--</div>-->
            <!--<div class="tab-pane" id="step2">-->
                <!--<p>Here is the content for step 2...</p>-->
                <!--<input class="form-control" id="input2" name="input2" required="">-->
                <!--<button class="btn btn-default btn-sm" type="button">OK</button>-->
            <!--</div>-->
        <!--</form>-->

    <!--</div>-->
    <!--<div class="modal-footer pager">-->
        <!--&lt;!&ndash;<button type="submit" class="btn btn-sm btn-primary" ng-click="ok(addForm.$valid, add)" ng-disabled="addForm.$invalid">OK</button>&ndash;&gt;-->
        <!--&lt;!&ndash;<button type="button" class="btn btn-sm btn-default" ng-click="cancel()">Close</button>&ndash;&gt;-->
        <!--<li class="previous first" style="display:none;"><button type="button" class="btn btn-sm btn-default" >First</button></li>-->
        <!--<li class="previous"><button type="button" class="btn btn-sm btn-default" >Previous</button></li>-->
        <!--<li class="next last" style="display:none;"><button type="button" class="btn btn-sm btn-default" >Last</button></li>-->
        <!--<li class="next"><button type="button" class="btn btn-sm btn-default" >Next</button></li>-->
    <!--</div>-->
<!--</div>-->
